#!/usr/bin/make -f
# Build using debhelper's dh sequencer. compat 13 runs dh_autoreconf by default,
# so configure.ac (which uses m4_esyscmd_s for its version) is re-bootstrapped
# during the build.

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--sysconfdir=/etc \
		--localstatedir=/var

override_dh_auto_clean:
	dh_auto_clean
	rm -f altfs.pc
